extends layout

block content
  ul.navbar-nav
        li.nav-item
            a.nav-link.active(href='/index') Home
        li.nav-item
            a.nav-link(href='/about') About
        li.nav-item
            a.nav-link(href='/form') Form

  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2= title
        
        form(action='/form', role="form")
          div.form-group
            label(for='name') Name from Form:
            text.form-control(type='text',name= 'name' readonly) #{name}
          div.form-group
            label(for='email') Email from Form:
            text.form-control(type='email', name='email' readonly) #{email}
          div.form-group
            label(for='comments') Comments from Form:
            textarea.form-control(type='text', name="comments", rows="5" readonly) #{comments}
          button.btn.btn-primary(type='submit') Back

